/* ------------ Pagina de estilo del index ------------ */

/* ------------ Tipografias ------------ */
@font-face {
    font-family: oswald; /* la tipografia del nav */
    src: url(./fuentes/Oswald-Regular.ttf);
}

/* ------------ Fondo ------------ */
body {
    background-image: url(./imagenes/fondo_negro.jpg); /* El fondo que dejandolo solo ya queda bien */
}

/* ------------ Header ------------ */
#foto_header{
    display: flex; /* para dejarlo flexible */
    justify-content: center; /* Para centrar la foto */
}

#foto_header img {
    background-color: rgba(0, 0, 0, 0.863);
    width: 95vh;
    height: 25vh;
    border-radius: 60px;
    border: 1px solid white; /* Para el borde blanco de la foto */
}

@media only screen and (max-width: 1024px) {
    #foto_header img {
        width: 78vh;
        height: 22vh;
    }
}

@media only screen and (max-width: 768px) {
    #foto_header img {
        width: 45vh;
        height: 15vh;
    }
}

/* ------------ NAV ------------ */
nav, a {
    display: flex; /* Volvemos a hacer lo de arriba para centrar la barra de navegacion */
    justify-content: center; 
    font-family: oswald;
    font-size: 1.5vb;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul {
    background-color: rgba(0, 0, 0, 0.863);
    width: 90vh;
    height: 9.5vh;
    border-radius: 60px;
    border: 1px solid white; /* Para el borde blanco de el nav */
    display: flex; 
    justify-content: center; /* Y otra vez hacemos lo de arriba para centrarlo pero en el propio nav */
}

nav li {
    list-style: none; /* para que no sea una lista y eso */
    padding: 0px 40px;
    margin: 19px 1vb;
    display: flex;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.089);
    border-radius: 2vb;
}

nav:hover {
    cursor: default; /* para que no salga para escribir encima de el que estes puesto */
}

li a {
    color: white;
    text-decoration: none;
    cursor: default; /* Para que no salga el de clickar en los restantes */
}

    /*  El boton de subir arriba    */
    #boton {
        color: white;
        position: fixed;
        bottom: 70px;
        right: 100px;
        transform: rotate(180deg);
        z-index: 20;
    }
    
    #boton img {
        background-color: transparent;
        width: 8vh;
        
    }

    /* Para a animacion del boton que sube arriba */
    #boton img:hover {
        animation: animacion_t 2s;
    }

    @keyframes animacion_t {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(720deg);
        }
    }

    /* colores de el nav al pasar por encima por encima */
    #inicio:hover {
        background-color: rgb(0, 134, 11);
    }

    #competicion:hover {
        background-color: #A248A2;
    }

    #tipos_de_tetris:hover {
        background-color: rgb(1, 228, 228);
    }

    #openers:hover {
        background-color:#FDC70A;
    }

    #contactos:hover {
        background-color: rgb(255, 0, 0);
    }

@media only screen and (max-width: 1024px) { /* de pc a tablet */
    nav, a {
        font-size: 1.3vb;
    }

    ul {
        width: 72vh;
        height: 9.5vh;
    }

    nav li {
        padding: 7px 28px;
        margin: 14px 1vb;
    }
}

@media only screen and (max-width: 768px) { /* de tablet a movil */
    nav, a {
        font-size: 0.9vb;
    }

    ul {
        width: 45vh;
        height: 8vh;
    }

    nav li {
        padding: 5px 15px;
        margin: 14px 0.5vb;
    }
}

/* ------------ Contenido ------------ */
#contenidos { /* este apartado esta para centrar el rectangulo de contenidos*/
    display: flex; /* Centro todos los contenidos con estos dos*/
    justify-content: center; 
    margin-bottom: 2vh;
}

#contenido {
    color: white;
    width: 95vh;
    background-color: rgba(0, 0, 0, 0.863);
    border: 1px solid white;
    border-radius: 4vh;
    text-align: center;  
    font-size: 2vh; 
}
@media only screen and (max-width: 1024px) { /* de pc a tablet */
    #contenido {
        width: 75vh;
        font-size: 2vh; 
    }
}

@media only screen and (max-width: 768px) { /* de tablet a movil */
    #contenido {
        width: 45vh;
        font-size: 1.5vh; 
    }
}

hr {
    margin: 0 8vh;
    color: rgba(255, 255, 255, 0.635);
}

    /*  contenido del Tspin */
#tspin {
    padding: 2vh 5vh;
}

#tspin img {
    border: 1px solid white;
    transform: rotate(-2deg);
    box-shadow: 0px 0px 10px white;
}
    /*  contenido de jugadas del tetris */
#tetris_video {
    padding: 2vh 5vh;
}

#tetris_video video {
    width: 60vh;
    border: 1px solid white;
    box-shadow: 0px 0px 10px white;
    transform: rotate(2deg);
}

/*  contenido del allClear */
#All_clear {
    padding: 2vh 5vh;
}

#All_clear img {
    width: 60vh;
    border: 1px solid white;
    box-shadow: 0px 0px 10px white;
    transform: rotate(-2deg);
}

#All_clear a{
    color: white;
}

@media only screen and (max-width: 1024px) { /* de pc a tablet */
    #tspin img {
        width: 20vh;
    }

    #tetris_video video {
        width: 40vh;
    }

    #All_clear img {
        width: 40vh;
    }
}

@media only screen and (max-width: 768px) { /* de tablet a movil */
    #tspin img {
        width: 15vh;
    }

    #tetris_video video {
        width: 25vh;
    }

    #All_clear img {
        width: 25vh;
    }
}

/* ------------ Footer ------------ */

footer {
    color: white;
    font-family: oswald;
    font-size: 1.5vh;
    display: flex; /* Y por ultimo ponemos estos dos para centrar el footer */
    justify-content: center; 
}

footer div {
    width: 40vh;
    height: 13.5vh;
    background-color: rgba(0, 0, 0, 0.863);
    border: 1px solid white;
    border-radius: 4vh;
    text-align: center; /* para centrar el texto en el footer */
}
a img { /*la imagen del git hub*/
    background-color: white;
    width: 4.1vb;
}

footer img:hover {
    background: radial-gradient(circle, rgba(0,247,255,1) 25%, rgba(57,0,255,1) 77%); 
}