/* ------------ Pagina de estilo del index ------------ */

/* ------------ Tipografias ------------ */
@font-face {
    font-family: oswald; /* la tipografia del nav */
    src: url(../fuentes/Oswald-Regular.ttf);
}

/* ------------ Fondo ------------ */
body {
    background-image: url(../imagenes/fondo_negro.jpg); /* El fondo que dejandolo solo ya queda bien */
}

/* ------------ Header ------------ */
#foto_header{
    margin: auto;
    display: flex; /* para dejarlo flexible */
    justify-content: center; /* Para centrar la foto */
}

#foto_header img {
    background-color: rgba(0, 0, 0, 0.863);
    width: 95vh;
    height: 25vh;
    border-radius: 60px;
    border: 1px solid white; /* Para el borde blanco de la foto */
}

@media only screen and (max-width: 1024px) {
    #foto_header img {
        width: 78vh;
        height: 22vh;
    }
}

@media only screen and (max-width: 768px) {
    #foto_header img {
        width: 45vh;
        height: 15vh;
    }
}


/* ------------ NAV ------------ */
nav, a {
    display: flex; /* Volvemos a hacer lo de arriba para centrar la barra de navegacion */
    justify-content: center; 
    font-family: oswald;
    font-size: 1.5vb;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav ul {
    background-color: rgba(0, 0, 0, 0.863);
    width: 90vh;
    height: 9.5vh;
    border-radius: 60px;
    display: flex; /* Y otra vez hacemos lo de arriba para centrarlo pero en el propio nav, pero sin el justifi center que lo descentra */ 
    border: 1px solid white; /* Para el borde blanco de el nav */
}

nav li {
    list-style: none; /* para que no sea una lista y eso */
    padding: 0px 40px;
    margin: 19px 1vb;
    display: inline-block;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.089);
    border-radius: 2vb;
}

nav:hover {
    cursor: default; /* para que no salga para escribir encima de el que estes puesto */
}

nav li a {
    color: white;
    text-decoration: none;
    cursor: default; /* Para que no salga el de clickar en los restantes */
}
    /*  El boton de subir arriba    */
    #boton {
        color: rgba(255, 255, 255, 0);
        position: fixed;
        bottom: 70px;
        right: 100px;
        transform: rotate(180deg);
        z-index: 20;
    }

    #boton img {
        background-color: transparent;
        width: 8vh;
    }
    
    /* Para a animacion del boton que sube arriba */
    #boton img:hover {
        animation: animacion_t 2s;
    }

    @keyframes animacion_t {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(720deg);
        }
    }

    /* colores de el nav al pasar por encima por encima */
#inicio:hover {
    background-color: rgb(0, 134, 11);
}

#competicion:hover {
    background-color: #A248A2;
}

#tipos_de_tetris:hover {
    background-color: rgb(1, 228, 228);
}

#openers:hover {
    background-color:#FDC70A;
}

#contactos:hover {
    background-color: rgb(255, 0, 0);
}


@media only screen and (max-width: 1024px) { /* de pc a tablet */
    nav, a {
        font-size: 1.3vb;
    }

    nav ul {
        width: 72vh;
        height: 9.5vh;
    }

    nav li {
        padding: 7px 28px;
        margin: 14px 1vb;
    }
}

@media only screen and (max-width: 768px) { /* de tablet a movil */
    nav, a {
        font-size: 0.9vb;
    }

    nav ul {
        width: 45vh;
        height: 8vh;
    }

    nav li {
        padding: 5px 15px;
        margin: 14px 0.5vb;
    }

    #boton {
        bottom: 40px;
        right: 35px;
    }
}

@media only screen and (max-width: 370px) { /* de movil a movilmaschico */
    nav, a {
        font-size: 0.9vb;
    }

    ul {
        width: 45vh;
        height: 8vh;
    }

    nav li {
        padding: 5px 12px;
        margin: 14px 0.5vb;
    }

    #boton {
        bottom: 25px;
        right: 20px;
    }
}

/* ------------ Contenido ------------ */
#contenidos { /* este apartado esta para centrar el rectangulo de contenidos*/
    display: flex; /* Centro todos los contenidos con estos dos*/
    justify-content: center; 
    margin-bottom: 2vh;
}

#contenido {
    color: white;
    width: 85vh;
    background-color: rgba(0, 0, 0, 0.863);
    border: 1px solid white;
    border-radius: 4vh;
    text-align: center;  
    font-size: 2vh; 
    padding: 5vh 5vh;
}

@media only screen and (max-width: 1024px) { /* de pc a tablet */
    #contenido {
        width: 55vh;
        font-size: 2vh; 
    }
}

@media only screen and (max-width: 768px) { /* de tablet a movil */
    #contenido {
        width: 34vh;
        font-size: 1.5vh; 
    }
}

#cuadrado { /* El cuadrado de la foto */
    width: 10vh;
    border: rgb(255, 255, 255) ridge 0.5px;
    box-shadow: 0px 0px 10px white;
    animation: cuadrado 60s;
}
    @keyframes cuadrado { /* La animacion del cuadrado */
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(720deg);
        }
    }


ol { /* Lista desordenada */
    padding-left: 50%;
    text-align: left;
}

#imagenes {
    display: grid; /* para el grid */
    gap: 1.6vh;
}

#uno {
    grid-column-start: 1; /*la columna del grid */
    grid-column-end: 2;
    grid-row-start: 1; /* la linea del grid */
    grid-row-end: 2;
}

#dos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#tres {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#cuatro {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#cinco {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#seis {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

div ul {
    width: 80vh;
}

@media only screen and (max-width: 1024px) { /* de pc a tablet */
    #imagenes img {
        width: 18vh;
    }

    div ul {
        width: 50vh;
    }
}

@media only screen and (max-width: 768px) { /* de tablet a movil */
    #imagenes img {
        width: 11vh;
    }

    div ul {
        width: 30vh;
    }
}

@media only screen and (max-width: 545px) { /* de movil a minimovil */
    #imagenes img {
        width: 11vh;
    }

    div ul {
        width: 30vh;
    }
}
/* ------------ Footer ------------ */

footer {
    color: white;
    font-family: oswald;
    font-size: 1.5vh;
    display: flex; /* Y por ultimo ponemos estos dos para centrar el footer */
    justify-content: center; 
}

footer div {
    width: 40vh;
    height: 13.5vh;
    background-color: rgba(0, 0, 0, 0.863);
    border: 1px solid white;
    border-radius: 4vh;
    text-align: center; /* para centrar el texto en el footer */
}
a img { /*la imagen del git hub*/
    background-color: white;
    width: 4.1vb;
}

footer img:hover {
    background: radial-gradient(circle, rgba(0,247,255,1) 25%, rgba(57,0,255,1) 77%); 
}